* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #424242;
}


.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 10px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

.page__loader {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(50%, 50%);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 5px solid #000;
    border-top-color: #d95821;
    z-index: 99;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0);
    } to {
        transform: rotate(360deg);
    }
}

.header {
    max-width: 1000px;
    min-height: 56px;
    transition: min-height 0.3s;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;

}

.header__inner {
    margin-top: 20px;
    width: 100%;
    text-align: left;
    margin-left: 7px;
    margin-right: auto;
    align-self: center;
}

.header__title {
    font-weight: 300;
    font-size: 2em;
    margin: 0.5em 0.25em;
    display: inline-block;
    color: #212121;
}

.header__title a{
    display:block;
    min-width: 44px;
    min-height: 44px;
    color: #616161;
    text-decoration: none;
}


.header__menu {
    border-radius: 4px;
    border: none;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 32px;
    margin-top: 5px;
    margin-left: 10px;
}


.header_logo {
    padding-top: 10px;
    align-self: center;
}

/*
 * navigation
 */

.nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav__item {
    box-sizing: border-box;
    display: inline-block;
    /* width: 24%; */
    text-align: center;
    box-sizing: border-box;
    line-height: 24px;
    padding: 24px;
    text-transform: uppercase;
}


.nav a {
    padding-top: 10px;
    display: block;
    text-decoration: none;
    color: #616161;
    font-weight: 500;
    width: 100%;
    min-width: 44px;
    min-height: 44px;

}

.nav a:hover {
    text-decoration: underline;
    color: #000;
}


/*
 * hero
 */


.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-image: url("/images/heros/hero-image_3.jpg");
    background-position: center;
    background-color: green;
}

.hero__inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero__title {
    padding: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 36px;
}

.hero__tagline {
    color: #fff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
}

/*
 * favorite
 */


.favorite {
    margin: auto;
    max-width: 1000px;
    width: 100%;
    background-color: #000;
    border-radius: 4px;
    padding-bottom: 20px;

}

.favorite_item {
    margin: 0 16px;
}

.favorite__tagline {
    font-size: 28px;
    padding: 10px;
    text-align: center;
    color: #ffb972;
    font-weight: 300;
}

.description__paragraph {
    font-size: 12px;
    padding: 5px;
    text-align: center;
    color: #fff;
    opacity: 0.5;
    font-weight: 300;
}

.favorite1 a {
    text-align: center;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-weight: 300;
    margin-left: 10px;
    padding-top: 10px;
    color: #fff;
    text-decoration: none;

}

.favorite__image {
    padding: 10px;
}

.favorite__image__description {
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-weight: 300;
}

.favorite__image__item {
    width: 100%;
    border-radius: 4px;
}

.favorite_space {
    padding-top: 16px;
}

main {
    width: 100%;
    margin: 0 auto;
}

.content {
    padding: 10px;
}


/*
 * explorer
 */
.explorer {
    max-width: 1000px;
    width: 100%;
    margin: 30px auto;
}

.explorer__label {
    font-size: 24px;
    font-weight: lighter;
    margin-left: 16px;
}

.explorer__label::after {
    content: '';
    margin-top: 16px;
    display: block;
}

/*
 * restaurant
 */

.restaurants {
    margin: 16px auto auto;
    text-align: left;
    overflow: auto;
}


.restaurant-item {
    margin: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 93%;
    border-radius: 5px;
    overflow: hidden;
}

.restaurant-item__content {
    padding: 16px 16px 16px 16px;
}

.restaurant-item__rating {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.checked {
    color: #d37b00;
    font-size: 12px;
    margin-left: auto;
}

.restaurant-item__thumbnail {
    width: 100%;
}

.restaurant-item__loc {
    align-self: center;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: #999;
}

.restraurant-item__date__author {
    color: red;
    text-decoration: none;
}

.restaurant-item__title {
    font-weight: 500;
    font-size: 18px;
    margin-top: 16px;
    transition: 0.3s opacity;
}

.restaurant-item__title:hover {
    opacity: 0.5;
}

.restaurant-item__title a {
    display: block;
    min-width: 44px;
    min-height: 44px;
    text-decoration: none;
    color: inherit;
}

.restaurant-item__description {
    font-size: 14px;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/*
 * detail
 */


 .container__detail {
    position: relative;
    text-align: center;
 }

 .detail__title {
     color: #fff;
     font-weight: 300;
     font-size: 40px;
     background: black;
     padding: 5px;
     border-radius: 2px;
 }


 .detail__categories {
    padding: 20px;
    grid-gap: 20px;
    margin:auto;
    display: grid;
    grid-auto-flow: column;
}

 .detail__list__data {
     padding: 20px;
     grid-gap: 20px;
     margin:auto;
     display: grid;
     grid-auto-flow: dense;
     grid-template-columns: 1fr 1fr 1fr;
 }

 .detail__title__description {
     margin-top: 25px;
     text-align: center;
     font-weight: 500;
     font-size:4em;
 }

 #likeButtonContainer {
     max-width: 1000px;
 }

 .detail__categories__style {
     border-radius: 10px;
     color: #000;
     font-weight: 500;
     padding: 20px;
     border: 2px solid #000;
     list-style-type: none;
 }

 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.detail {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px 16px;
}

.detail__bottom-left {
    padding: 5px;
    background: #000;
    color: white;
    position: absolute;
    bottom: 8px;
  }

.detail .detail__poster {
    margin-top: 16px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.detail .detail__info {
    margin: 8px 0;
}

.detail__area {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 8px;
    font-size: medium;
}

.detail__overview {
    max-width: 1000px;
    margin: auto;
    padding: 16px 20px 0 20px;
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr;
}

.detail__panel__reviews {
    display: grid;
}

.detail__user1 {
    font-size: 17px;
    color: #000;
    margin-top: 10px;
    font-weight: 500;
    list-style-type: none;
}


.detail__user2 {
    font-size: 15px;
    color: #000;
    font-weight: 300;
    list-style-type: none;
}


/*
   Like
*/
.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}




/*
 * button
 */

.button__fav {
    border-radius: 15px;
    background-color: #fff;
    border: none;
    color: #0a0a0a;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.button__fav span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button__fav span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button__fav:hover span {
    padding-right: 25px;
}

.button__fav:hover span:after {
    opacity: 1;
    right: 0;
}

.button {
    min-width: 44px;
    min-height: 44px;
    border-radius: 15px;
    background-color: #0a0a0a;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

footer {
    max-width: 1000px;
    margin: auto;
    padding: 2em;
    width: 100%;
    text-align: center;
}

.footer__p {
    color: #0a0a0a;
}
